#error-page {
    margin: 200px;
    text-align: center;
}
.erroh1{
    text-align: center;
    margin-bottom: 50px;
}
.errop {
    margin-left: 30px;
}
.erroi {
    margin-right:200px;
}